################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MAin/.vs/MAin
/MAin/MAin/bin/Debug/net8.0
/MAin/MAin/obj/Debug/net8.0
/MAin/MAin/obj
